header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: solid; 
	border-width: 1px;
	border-color: #CCCCCC;	
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
