.places{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.places h1{
        font-size: 30px;
        flex: none;
        width: 100%;
}
.places article{
        position: relative;
        width: 390px;
        padding: 20px;
        margin: 20px;
        border: solid #FF5A5F;
        border-width: 1px;
        border-radius: 4px;
}
.places h2 {
        font-size: 30px;
        text-align: center;
}
